@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

input,
select {
 width: 80%;
 padding: 5px;
 font-size: 22px;
 font-family: 'Ranchers', cursive;
 border-width: 5px;
 border-color: rgb(97, 93, 93);
 color: #000000;
 border-style: solid;
 border-radius: 4px;
 background-color: white;
 box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
 text-align: center;
}

body {
 background-color: blue;
 background-image: url(../images/clouds.png);
 background-repeat: no-repeat;
 background-size: 1400px 900px;
}

.page {
 margin: auto;
 width: 85%;
 max-width: 900px;
 height: 590px;
 padding: 10px;
 font-family: Sans-Serif;
 font-size: 25px;
 color: #fff;
}

h2, h4 {
 color: blue;
}

button {
 width: 85%;
 height: 35px;
 color: #fff;
 font-size: 20px;
 font-weight: bold;
 font-family: Sans-Serif;
 background-color: #e67316;
 border-radius: 6px;
}
.start_btn {width: 75%;}
.clear_btn {width: 300px;}
.home {background-color: white;border-radius: 10px;}
td {
 width: 80px;
}
label, h2 {
 font-weight: bold;
 font-family: 'Grandstander', cursive;
 color: red;
}
label {
 font-size: 25;
}

img {
 width: 75%;
 max-width: 800px;
}
.print {
 display: none
}